---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Armor-piercing Spear.png'
---

<ImageCard image={icon} title="Armor-piercing Spear">
<p>When attacking enemies with a [Shield], ATK increases by 6-15%.</p>
</ImageCard>
