---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Armor-piercing Spear.png'
---

<ImageCard image={icon} title="Armor-piercing Spear">
<p>When attacking enemies with a [<span class="text-yellow-500">Shield</span>], ATK increases by <span class="text-orange-500">6</span>-<span class="text-orange-500">15%</span>.</p>
</ImageCard>
