---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Army-Breaking Spear.png'
---

<ImageCard image={icon} title="Army-Breaking Spear">
<p>Increases Crit and ATK by <span class="text-orange-500">4</span>-<span class="text-orange-500">10%</span>. Before attacking, if the total distance of movement, charge, and teleportation is no less than <span class="text-orange-500">6</span>-<span class="text-orange-500">5</span>, increases Crit DMG by <span class="text-orange-500">0</span>-<span class="text-orange-500">10%</span>. Using a non-[instant] skill to attack resets the skill's CD and refunds the consumed NRG. This effect has a CD of <span class="text-orange-500">7</span>-<span class="text-orange-500">3</span> turns.</p>
</ImageCard>
