---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Defensive Spear.png'
---

<ImageCard image={icon} title="Defensive Spear">
<p>Increases P.DEF by 4-12%.</p>
</ImageCard>
