---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Doomsday Scythe.png'
---

<ImageCard image={icon} title="Doomsday Scythe">
<p>When launching a [Back Attack], DMG increases by 12-25%.</p>
</ImageCard>
