---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Doomsday Scythe.png'
---

<ImageCard image={icon} title="Doomsday Scythe">
<p>When launching a [<span class="text-yellow-500">Back Attack</span>], DMG increases by <span class="text-orange-500">12</span>-<span class="text-orange-500">25%</span>.</p>
</ImageCard>
