---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Double-Sided Halberd.png'
---

<ImageCard image={icon} title="Double-Sided Halberd">
<p>Increases P.ATK by <span class="text-orange-500">5%</span>. For each target hit when attacking, increases DMG by <span class="text-orange-500">3</span>-<span class="text-orange-500">8%</span>, up to <span class="text-orange-500">9</span>-<span class="text-orange-500">24%</span>.</p>
</ImageCard>
