---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Double-Sided Halberd.png'
---

<ImageCard image={icon} title="Double-Sided Halberd">
<p>Increases P.ATK by 5%. For each target hit when attacking, increases DMG by 3-8%, up to 9-24%.</p>
</ImageCard>
