---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Guardian Spear.png'
---

<ImageCard image={icon} title="Guardian Spear">
<p>Increases HP by 4-12%.</p>
</ImageCard>
