---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Nameless Staff.png'
---

<ImageCard image={icon} title="Nameless Staff">
<p>Increases Movement by <span class="text-orange-500">1</span> tile. Increases Crit by <span class="text-orange-500">3</span>-<span class="text-orange-500">15%</span> if moved no less than <span class="text-orange-500">3</span> tiles before attacking.</p>
</ImageCard>
