---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Nameless Staff.png'
---

<ImageCard image={icon} title="Nameless Staff">
<p>Increases Movement by 1 tile. Increases Crit by 3-15% if moved no less than 3 tiles before attacking.</p>
</ImageCard>
