---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Pendant Halberd.png'
---

<ImageCard image={icon} title="Pendant Halberd">
<p>Increases HP by <span class="text-green-500">2</span>-<span class="text-green-500">10%</span>. Before taking a [<span class="text-yellow-500">Single-target Attack</span>], gains <span class="text-orange-500">10%</span> bonus ATK and DEF.</p>
</ImageCard>
