---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Pendant Halberd.png'
---

<ImageCard image={icon} title="Pendant Halberd">
<p>Increases HP by 2-10%. Before taking a [Single-target Attack], gains 10% bonus ATK and DEF.</p>
</ImageCard>
