---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Sharp Spear.png'
---

<ImageCard image={icon} title="Sharp Spear">
<p>When actively attacking enemies with <span class="text-orange-500">3</span> or more [<span class="text-yellow-500">Debuffs</span>], P.ATK increases by <span class="text-orange-500">3</span>-<span class="text-orange-500">15%</span>.</p>
</ImageCard>
