---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Sharp Spear.png'
---

<ImageCard image={icon} title="Sharp Spear">
<p>When actively attacking enemies with 3 or more [Debuffs], P.ATK increases by 3-15%.</p>
</ImageCard>
