---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Skeleton Spear.png'
---

<ImageCard image={icon} title="Skeleton Spear">
<p>Increases P.ATK by 2-10%. Before initiating a single-target active attack, additionally deals [Piercing DMG] equal to 10% P.ATK to the target.</p>
</ImageCard>
