---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/Spear.png'
---

<ImageCard image={icon} title="Spear">
<p><strong>N/A</strong></p>
</ImageCard>
