---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/The Silent Guard.png'
---

<ImageCard image={icon} title="The Silent Guard">
<p>When actively attacked, DEF increases by 10-30%. The next attack deals 15-25% more DMG.</p>
</ImageCard>
