---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/spear/The Silent Guard.png'
---

<ImageCard image={icon} title="The Silent Guard">
<p>When actively attacked, DEF increases by <span class="text-orange-500">10</span>-<span class="text-orange-500">30%</span>. The next attack deals <span class="text-orange-500">15</span>-<span class="text-orange-500">25%</span> more DMG.</p>
</ImageCard>
