---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Armored Gauntlet.png'
---

<ImageCard image={icon} title="Armored Gauntlet">
<p><strong>N/A</strong></p>
</ImageCard>
