---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Berserk Incense.png'
---

<ImageCard image={icon} title="Berserk Incense">
<p>Gains [Berserk Awake]. Effect: Increases Movement by 1 tile and DMG by 10-20% for 2 turns. CD: 3 turns. Can be used up to 1-2 time per battle.</p>
</ImageCard>
