---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Blood Luxite Amulet.png'
---

<ImageCard image={icon} title="Blood Luxite Amulet">
<p>Increases magical DMG by <span class="text-purple-500">4</span>-<span class="text-purple-500">10%</span> and [magical AoE DMG] by <span class="text-purple-500">8</span>-<span class="text-purple-500">20%</span>. When [<span class="text-yellow-500">Dying</span>], the effect changes: Increases magical DMG by <span class="text-purple-500">6</span>-<span class="text-purple-500">20%</span> and [magical AoE DMG] by <span class="text-purple-500">12</span>-<span class="text-purple-500">40%</span>.</p>
</ImageCard>
