---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Bronze Necklace.png'
---

<ImageCard image={icon} title="Bronze Necklace">
<p><strong>N/A</strong></p>
</ImageCard>
