---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Cage Mask.png'
---

<ImageCard image={icon} title="Cage Mask">
<p>Increases ATK and DEF by <span class="text-orange-500">2</span>-<span class="text-orange-500">6</span>%. For each [<span class="text-yellow-500">Magical Shield</span>] equal to <span class="text-purple-500">30%</span> HP the character owned, additionally increases ATK and DEF by <span class="text-orange-500">3%</span>, up to <span class="text-orange-500">3</span>-<span class="text-orange-500">9%</span>.</p>
</ImageCard>
