---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Coexist Armor.png'
---

<ImageCard image={icon} title="Coexist Armor">
<p>DMG taken decreases by <span class="text-orange-500">5</span>-<span class="text-orange-500">10%</span> when [<span class="text-yellow-500">Healthy</span>].</p>
</ImageCard>
