---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Coexist Armor.png'
---

<ImageCard image={icon} title="Coexist Armor">
<p>DMG taken decreases by 5-10% when [Healthy].</p>
</ImageCard>
