---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Cooling Powder.png'
---

<ImageCard image={icon} title="Cooling Powder">
<p>Increases Healing Received by 0-16% and gains immunity to [🚫Healing Received].</p>
</ImageCard>
