---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Crystal Burst Armor.png'
---

<ImageCard image={icon} title="Crystal Burst Armor">
<p>Increases HP by <span class="text-green-500">2</span>-<span class="text-green-500">10%</span>. Strike Back deals <span class="text-orange-500">10</span>-<span class="text-orange-500">25%</span> more DMG.</p>
</ImageCard>
