---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Disaster Bottle.png'
---

<ImageCard image={icon} title="Disaster Bottle">
<p>Instant. Inflicts <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> random [<span class="text-yellow-500">Level 2 Attribute Debuff</span>] on the enemy. Can be used up to <span class="text-orange-500">2</span>-<span class="text-orange-500">3</span> times per battle. CD: <span class="text-orange-500">4</span>-<span class="text-orange-500">2</span> turns.</p>
</ImageCard>
