---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Disaster Bottle.png'
---

<ImageCard image={icon} title="Disaster Bottle">
<p>Instant. Inflicts 1-2 random [Level 2 Attribute Debuff] on the enemy. Can be used up to 2-3 times per battle. CD: 4-2 turns.</p>
</ImageCard>
