---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Evergreen Pendent.png'
---

<ImageCard image={icon} title="Evergreen Pendent">
<p>When healed, there is a 50-100% chance to gain 1 random [Level 2 Attribute Buff], which lasts for 2 turns.</p>
</ImageCard>
