---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Evergreen Pendent.png'
---

<ImageCard image={icon} title="Evergreen Pendent">
<p>When healed, there is a <span class="text-orange-500">50</span>-<span class="text-orange-500">100%</span> chance to gain <span class="text-orange-500">1</span> random [<span class="text-yellow-500">Level 2 Attribute Buff</span>], which lasts for <span class="text-orange-500">2</span> turns.</p>
</ImageCard>
