---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Fancy Hat.png'
---

<ImageCard image={icon} title="Fancy Hat">
<p>Gains [Immunity to Disrupt]. When [Healthy], M.DEF increases by 3-15%.</p>
</ImageCard>
