---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Fancy Hat.png'
---

<ImageCard image={icon} title="Fancy Hat">
<p>Gains [<span class="text-yellow-500">Immunity to Disrupt</span>]. When [<span class="text-yellow-500">Healthy</span>], M.DEF increases by <span class="text-orange-500">3</span>-<span class="text-orange-500">15%</span>.</p>
</ImageCard>
