---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Flying Blade Armguard.png'
---

<ImageCard image={icon} title="Flying Blade Armguard">
<p>[<span class="text-yellow-500">Instant</span>]. Deals [<span class="text-yellow-500">Piercing DMG</span>] equal to <span class="text-orange-500">12</span>-<span class="text-orange-500">15%</span> of the enemy's HP. Can be used up to <span class="text-orange-500">2</span>-<span class="text-orange-500">3</span> times per battle. CD: <span class="text-orange-500">3</span>-<span class="text-orange-500">1</span> turns.</p>
</ImageCard>
