---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/trinket/Hunter's Intuition.png"
---

<ImageCard image={icon} title="Hunter's Intuition">
<p>When [<span class="text-yellow-500">Alert</span>] is triggered, deals <span class="text-orange-500">5</span>-<span class="text-orange-500">25%</span> more DMG. Moreover, if a foe uses a skill within range of the [<span class="text-yellow-500">Alert</span>], it will also be triggered.</p>
</ImageCard>
