---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Luxite Greatshield.png'
---

<ImageCard image={icon} title="Luxite Greatshield">
<p>Gains a [<span class="text-yellow-500">Physical Shield</span>] equal to <span class="text-orange-500">40</span>-<span class="text-orange-500">60%</span> HP for <span class="text-orange-500">2</span> turns. This effect cannot be dispelled. Can be used up to <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> times per battle. CD: <span class="text-orange-500">3</span> turns.</p>
</ImageCard>
