---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Luxite Greatshield.png'
---

<ImageCard image={icon} title="Luxite Greatshield">
<p>Gains a [Physical Shield] equal to 40-60% HP for 2 turns. This effect cannot be dispelled. Can be used up to 1-2 time per battle. CD: 3 turns.</p>
</ImageCard>
