---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/trinket/Maverick's Cloak.png"
---

<ImageCard image={icon} title="Maverick's Cloak">
<p>When there are no allies within <span class="text-orange-500">4</span>-<span class="text-orange-500">3</span> tiles around the character, ATK and DEF increase by <span class="text-orange-500">4</span>-<span class="text-orange-500">12%</span> and Crit increases by <span class="text-orange-500">10</span>-<span class="text-orange-500">20%</span>.</p>
</ImageCard>
