---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/trinket/Maverick's Cloak.png"
---

<ImageCard image={icon} title="Maverick's Cloak">
<p>When there are no allies within 4-3 tiles around the character, ATK and DEF increase by 4-12% and Crit increases by 10-20%.</p>
</ImageCard>
