---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Mist Necklace.png'
---

<ImageCard image={icon} title="Mist Necklace">
<p>Before being actively attacked, inflicts <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> random [<span class="text-yellow-500">Level 1 Debuff</span>] on the attacker for <span class="text-orange-500">2</span> turns. CD: <span class="text-orange-500">5</span>-<span class="text-orange-500">2</span> turns.</p>
</ImageCard>
