---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Mist Necklace.png'
---

<ImageCard image={icon} title="Mist Necklace">
<p>Before being actively attacked, inflicts 1-2 random [Level 1 Debuff] on the attacker for 2 turns. CD: 5-2 turns.</p>
</ImageCard>
