---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Mystery Guardian.png'
---

<ImageCard image={icon} title="Mystery Guardian">
<p>When attacked from [front], gains 5-25% bonus P.DEF and [🚫Defense Attribute Debuff].</p>
</ImageCard>
