---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Mysterious Deflection Device.png'
---

<ImageCard image={icon} title="Mysterious Deflection Device">
<p>Decreases the DMG from [<span class="text-yellow-500">Ranged Attacks</span>] by <span class="text-orange-500">4</span>-<span class="text-orange-500">12%</span>.</p>
</ImageCard>
