---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Mystery Guardian.png'
---

<ImageCard image={icon} title="Mystery Guardian">
<p>When attacked from [<span class="text-yellow-500">front</span>], gains <span class="text-orange-500">5</span>-<span class="text-orange-500">25%</span> bonus P.DEF and [🚫 <span class="text-yellow-500">Defense Attribute Debuff</span>].</p>
</ImageCard>
