---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Old Scrolls of Auguste.png'
---

<ImageCard image={icon} title="Old Scrolls of Auguste">
<p>[Instant] Grants one other ally 1 random [Level 2 Buff] and [▲SPD I] for 2 turns. Can be used up to 3-5 times per battle. Effect CD: 4-2 turns.</p>
</ImageCard>
