---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Old Scrolls of Auguste.png'
---

<ImageCard image={icon} title="Old Scrolls of Auguste">
<p>[<span class="text-yellow-500">Instant</span>] Grants one other ally <span class="text-orange-500">1</span> random [<span class="text-yellow-500">Level 2 Buff</span>] and [<span class="text-green-500">△</span> <span class="text-yellow-500">SPD I</span>] for <span class="text-orange-500">2</span> turns. Can be used up to <span class="text-orange-500">3</span>-<span class="text-orange-500">5</span> times per battle. Effect CD: <span class="text-orange-500">4</span>-<span class="text-orange-500">2</span> turns.</p>
</ImageCard>
