---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Origin Hourglass.png'
---

<ImageCard image={icon} title="Origin Hourglass">
<p>Increases P.ATK and M.ATK by 2-8%. Grants immunity against [▼Move] and [▼SPD].</p>
</ImageCard>
