---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Origin Hourglass.png'
---

<ImageCard image={icon} title="Origin Hourglass">
<p>Increases P.ATK and M.ATK by <span class="text-orange-500">2</span>-<span class="text-orange-500">8%</span>. Grants immunity against [<span class="text-red-500">▽</span> <span class="text-yellow-500">Move</span>] and [<span class="text-red-500">▽</span> <span class="text-yellow-500">SPD</span>].</p>
</ImageCard>
