---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Rejection Mask.png'
---

<ImageCard image={icon} title="Rejection Mask">
<p>Magical DMG taken decreases by <span class="text-orange-500">20</span>-<span class="text-orange-500">30%</span>. CD: <span class="text-orange-500">5</span>-<span class="text-orange-500">2</span> turns.</p>
</ImageCard>
