---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Rejection Mask.png'
---

<ImageCard image={icon} title="Rejection Mask">
<p>Magical DMG taken decreases by 20-30%. CD: 5-2 turns.</p>
</ImageCard>
