---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Roaring Flint.png'
---

<ImageCard image={icon} title="Roaring Flint">
<p>Instant. Deals [fire] [Piercing DMG] equal to 10-20% HP to the enemies within range.</p>
</ImageCard>
