---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Roaring Flint.png'
---

<ImageCard image={icon} title="Roaring Flint">
<p>Instant. Deals [<span class="text-yellow-500">fire</span>] [<span class="text-yellow-500">Piercing DMG</span>] equal to <span class="text-orange-500">10</span>-<span class="text-orange-500">20%</span> HP to the enemies within range.</p>
</ImageCard>
