---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Roaring Flint.png'
---

<ImageCard image={icon} title="Roaring Flint">
<p>[<span class="text-yellow-500">Instant</span>]. Deals [fire] [<span class="text-yellow-500">Piercing DMG</span>] equal to <span class="text-orange-500">10</span>-<span class="text-orange-500">20%</span> of the enemy's HP to the enemies within <span class="text-orange-500">2</span> tiles around the target. Can be used up to <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> times per battle. CD: <span class="text-orange-500">8</span>-<span class="text-orange-500">3</span> turns.</p>
</ImageCard>
