---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/trinket/Scorched Sorceress's Hat.png"
---

<ImageCard image={icon} title="Scorched Sorceress's Hat">
<p>Increases M.DEF by 4-12%.</p>
</ImageCard>
