---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/trinket/Scorched Sorceress's Hat.png"
---

<ImageCard image={icon} title="Scorched Sorceress's Hat">
<p>Increases M.DEF by <span class="text-orange-500">4</span>-<span class="text-orange-500">12%</span>.</p>
</ImageCard>
