---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Shroud of Void.png'
---

<ImageCard image={icon} title="Shroud of Void">
<p>[<span class="text-yellow-500">Instant</span>] Decreases Magical DMG taken by <span class="text-orange-500">50</span>-<span class="text-orange-500">70%</span>, which can be activated up to <span class="text-orange-500">1</span>-<span class="text-orange-500">3</span> times. The effect lasts for <span class="text-orange-500">2</span> turns and can be used up to <span class="text-orange-500">1</span> time per battle.</p>
</ImageCard>
