---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Shroud of Void.png'
---

<ImageCard image={icon} title="Shroud of Void">
<p>[Instant] Decreases Magical DMG taken by 50-70%, which can be activated up to 1-3 time. The effect lasts for 2 turns and can be used up to 1 time per battle.</p>
</ImageCard>
