---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Space-time Ring.png'
---

<ImageCard image={icon} title="Space-time Ring">
<p>[<span class="text-yellow-500">Instant</span>] Teleports the character behind an ally and increases ATK by <span class="text-orange-500">2</span>-<span class="text-orange-500">10%</span>.</p>
</ImageCard>
