---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Space-time Ring.png'
---

<ImageCard image={icon} title="Space-time Ring">
<p>[Instant] Teleports the character behind an ally and increases ATK by 2-10%.</p>
</ImageCard>
