---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Space-time Ring.png'
---

<ImageCard image={icon} title="Space-time Ring">
<p>[<span class="text-yellow-500">Instant</span>] Teleports the character behind any ally within <span class="text-orange-500">3</span> tiles and increases ATK by <span class="text-orange-500">2</span>-<span class="text-orange-500">10%</span> for <span class="text-orange-500">1</span> turn. Can be used up to <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> times per battle. CD: <span class="text-orange-500">5</span>-<span class="text-orange-500">3</span> turns. Pre-cooldown: <span class="text-orange-500">2</span> turns.</p>
</ImageCard>
