---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Spring Pill.png'
---

<ImageCard image={icon} title="Spring Pill">
<p>[Instant]. Heals the character for 20-30% HP and dispels 1-2 [Debuff]. Can be used up to 2 times per battle. CD: 8-3 turns.</p>
</ImageCard>
