---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Spring Tonic.png'
---

<ImageCard image={icon} title="Spring Tonic">
<p>[Instant]. Heals 30-45% HP. Can be used up to 1 time per battle.</p>
</ImageCard>
