---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Spring Pill.png'
---

<ImageCard image={icon} title="Spring Pill">
<p>[<span class="text-yellow-500">Instant</span>]. Heals the character for <span class="text-green-500">20</span>-<span class="text-green-500">30%</span> HP and dispels <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> [<span class="text-yellow-500">Debuff</span>]. Can be used up to <span class="text-orange-500">2</span> times per battle. CD: <span class="text-orange-500">8</span>-<span class="text-orange-500">3</span> turns.</p>
</ImageCard>
