---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Thorny Ring.png'
---

<ImageCard image={icon} title="Thorny Ring">
<p>When [Injured], increases ATK by 6-12%.</p>
</ImageCard>
