---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/True Lens.png'
---

<ImageCard image={icon} title="True Lens">
<p>Increases P.ATK by 1-5%. When attacking from [Highland], Crit increases by 12-20%.</p>
</ImageCard>
