---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/True Lens.png'
---

<ImageCard image={icon} title="True Lens">
<p>Increases P.ATK by <span class="text-orange-500">1</span>-<span class="text-orange-500">5%</span>. When attacking from [<span class="text-yellow-500">Highland</span>], Crit increases by <span class="text-orange-500">12</span>-<span class="text-orange-500">20%</span>.</p>
</ImageCard>
