---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Unique Coat.png'
---

<ImageCard image={icon} title="Unique Coat">
<p>Physical DMG taken decreases by 20-30%. CD: 5-2 turns.</p>
</ImageCard>
