---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/trinket/Wolf Fang Necklace.png'
---

<ImageCard image={icon} title="Wolf Fang Necklace">
<p>Increases P.ATK by 2-6%.</p>
</ImageCard>
