---
const props = Astro.props;

import EngravingCard from '../EngravingCard.astro';
---

<EngravingCard first_engraving='Sword' second_engraving='Sword'>
<p>When actively attacking [unharmed] enemies, increases Crit by <span class="text-orange-500">20%</span>.</p>
<slot />
</EngravingCard>
