---
const props = Astro.props;

import EngravingCard from '../EngravingCard.astro';
---

<EngravingCard first_engraving='Sword' second_engraving='Cup'>
<p>When actively attacking, increases the DMG by <span class="text-orange-500">5%</span> and grants <span class="text-orange-500">15%</span> of [<span class="text-yellow-500">Life Steal</span>].</p>
<slot />
</EngravingCard>
