---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Apprentice Wand.png'
---

<ImageCard image={icon} title="Apprentice Wand">
<p><strong>N/A</strong></p>
</ImageCard>
