---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Astral Rod.png'
---

<ImageCard image={icon} title="Astral Rod">
<p>Increases M.ATK by 2-6%.</p>
</ImageCard>
