---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Diffusing Prism.png'
---

<ImageCard image={icon} title="Diffusing Prism">
<p>Increases M.ATK by 5%. Upon casting AoE Attack, for each 1 target hit, increases [magical DMG] and [piercing DMG] dealt by 5-10%, up to 10-20%.</p>
</ImageCard>
