---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Explosive Crystal.png'
---

<ImageCard image={icon} title="Explosive Crystal">
<p>Increases [<span class="text-yellow-500">AoE DMG</span>] by <span class="text-orange-500">6</span>-<span class="text-orange-500">15%</span>.</p>
</ImageCard>
