---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Explosive Crystal.png'
---

<ImageCard image={icon} title="Explosive Crystal">
<p>Increases [AoE DMG] by 6-15%.</p>
</ImageCard>
