---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Focus Wand.png'
---

<ImageCard image={icon} title="Focus Wand">
<p>When [Unharmed], increases the maximum range of [Single-target Skills] by 1 tile and increases M.ATK by 3-15% when launching a Single-target Attack.</p>
</ImageCard>
