---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Focus Wand.png'
---

<ImageCard image={icon} title="Focus Wand">
<p>When [<span class="text-yellow-500">Unharmed</span>], increases the maximum range of [<span class="text-yellow-500">Single-target Skills</span>] by <span class="text-orange-500">1</span> tile and increases M.ATK by <span class="text-purple-500">3</span>-<span class="text-purple-500">15%</span> when launching a Single-target Attack.</p>
</ImageCard>
