---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Gazing Orb.png'
---

<ImageCard image={icon} title="Gazing Orb">
<p>Deals 6-15% more DMG when performing a single-target attack.</p>
</ImageCard>
