---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Gazing Orb.png'
---

<ImageCard image={icon} title="Gazing Orb">
<p>Deals <span class="text-orange-500">6</span>-<span class="text-orange-500">15%</span> more DMG when performing a single-target attack.</p>
</ImageCard>
