---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Ink Totem.png'
---

<ImageCard image={icon} title="Ink Totem">
<p>Healing Effect increases by <span class="text-green-500">5</span>-<span class="text-green-500">10%</span>.</p>
</ImageCard>
