---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Reorganized Cube.png'
---

<ImageCard image={icon} title="Reorganized Cube">
<p>Increases Healing Effect by <span class="text-green-500">3</span>-<span class="text-green-500">15%</span>. When using a skill on an ally, additionally dispels <span class="text-orange-500">1</span> [<span class="text-yellow-500">Debuff</span>].</p>
</ImageCard>
