---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Reorganized Cube.png'
---

<ImageCard image={icon} title="Reorganized Cube">
<p>Increases Healing Effect by 3-15%. When using a skill on an ally, additionally dispels 1 [Debuff].</p>
</ImageCard>
