---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Resentment Broom.png'
---

<ImageCard image={icon} title="Resentment Broom">
<p>Increases [AoE DMG] by 15%. After dealing DMG with an Active Attack, there is a 25-50% chance to inflict [Life Loss] equal to 20% M.ATK on the target for 1 turn.</p>
</ImageCard>
