---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Resentment Broom.png'
---

<ImageCard image={icon} title="Resentment Broom">
<p>Increases [<span class="text-yellow-500">AoE DMG</span>] by <span class="text-orange-500">15%</span>. After dealing DMG with an Active Attack, there is a <span class="text-orange-500">25</span>-<span class="text-orange-500">50%</span> chance to inflict [<span class="text-yellow-500">Life Loss</span>] equal to <span class="text-purple-500">20%</span> M.ATK on the target for <span class="text-orange-500">1</span> turn.</p>
</ImageCard>
