---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Skeleton Staff.png'
---

<ImageCard image={icon} title="Skeleton Staff">
<p>Increases HP by <span class="text-orange-500">2</span>-<span class="text-orange-500">10%</span>. Recovers <span class="text-green-500">1</span> NRG when an ally is defeated in battle. The effect can be triggered up to <span class="text-orange-500">1</span> time per round.</p>
</ImageCard>
