---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Skeleton Staff.png'
---

<ImageCard image={icon} title="Skeleton Staff">
<p>Increases HP by 2-10%. Recovers 1 NRG when an ally is defeated in battle. The effect can be triggered up to 1 time per round.</p>
</ImageCard>
