---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Starry Sky Heritage.png'
---

<ImageCard image={icon} title="Starry Sky Heritage">
<p>Increases HP by <span class="text-green-500">5</span>-<span class="text-green-500">10%</span>. Grants bonus M.ATK equal to <span class="text-purple-500">3</span>-<span class="text-purple-500">6%</span> HP at the start of the battle.</p>
</ImageCard>
