---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/staff/Starry Sky Heritage.png'
---

<ImageCard image={icon} title="Starry Sky Heritage">
<p>Increases HP by 5-10%. Grants bonus M.ATK equal to 3-6% HP at the start of the battle.</p>
</ImageCard>
