---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Antimagic Axe.png'
---

<ImageCard image={icon} title="Antimagic Axe">
<p>After actively attacking and dealing DMG, has a 60-100% chance to dispel 1-2 [Buff] on the target. CD: 2-1 turns.</p>
</ImageCard>
