---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Antimagic Axe.png'
---

<ImageCard image={icon} title="Antimagic Axe">
<p>After actively attacking and dealing DMG, has a <span class="text-orange-500">60</span>-<span class="text-orange-500">100%</span> chance to dispel <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> [<span class="text-yellow-500">Buff</span>] on the target. CD: <span class="text-orange-500">2</span>-<span class="text-orange-500">1</span> turns.</p>
</ImageCard>
