---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Balanced Heavy Axe.png'
---

<ImageCard image={icon} title="Balanced Heavy Axe">
<p>When [Healthy], ATK increases by 6-12%.</p>
</ImageCard>
