---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Balanced Heavy Axe.png'
---

<ImageCard image={icon} title="Balanced Heavy Axe">
<p>When [<span class="text-yellow-500">Healthy</span>], ATK increases by <span class="text-orange-500">6</span>-<span class="text-orange-500">12%</span>.</p>
</ImageCard>
