---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Battle-Hardened Axe.png'
---

<ImageCard image={icon} title="Battle-Hardened Axe">
<p><strong>N/A</strong></p>
</ImageCard>
