---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Brutal Axe.png'
---

<ImageCard image={icon} title="Brutal Axe">
<p>Increases HP by 3-10%. When attacking, if the enemy's HP percentage is higher than the character, ignores 20-40% of the target's DEF.</p>
</ImageCard>
