---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Brutal Axe.png'
---

<ImageCard image={icon} title="Brutal Axe">
<p>Increases HP by <span class="text-green-500">3</span>-<span class="text-green-500">10%</span>. When attacking, if the enemy's HP percentage is higher than the character, ignores <span class="text-orange-500">20</span>-<span class="text-orange-500">40%</span> of the target's DEF.</p>
</ImageCard>
