---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Denial Hammer.png'
---

<ImageCard image={icon} title="Denial Hammer">
<p>When charging, deals 5-25% more DMG. If targets who have lower HP than the character are knocked back, pushes them back by 1 more tile.</p>
</ImageCard>
