---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Denial Hammer.png'
---

<ImageCard image={icon} title="Denial Hammer">
<p>When charging, deals <span class="text-orange-500">5</span>-<span class="text-orange-500">25%</span> more DMG. If targets who have lower HP than the character are knocked back, pushes them back by <span class="text-orange-500">1</span> more tile.</p>
</ImageCard>
