---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Feast Axe.png'
---

<ImageCard image={icon} title="Feast Axe">
<p>If the target's HP percentage is lower than the character's when attacking, increases ATK by <span class="text-orange-500">10</span>-<span class="text-orange-500">20%</span>. The character recovers <span class="text-green-500">20</span>-<span class="text-green-500">35%</span> HP when defeating an enemy. CD: <span class="text-orange-500">3</span>-<span class="text-orange-500">1</span> turns.</p>
</ImageCard>
