---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Feast Axe.png'
---

<ImageCard image={icon} title="Feast Axe">
<p>If the target's HP percentage is lower than the character's when attacking, increases ATK by 10-20%. The character recovers 20-35% HP when defeating an enemy. CD: 3-1 turns.</p>
</ImageCard>
