---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Formidable Axe.png'
---

<ImageCard image={icon} title="Formidable Axe">
<p>When attacking from [Highland], Crit increases by 5-25%.</p>
</ImageCard>
