---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Gale Sword.png'
---

<ImageCard image={icon} title="Gale Sword">
<p>P.ATK is increased by <span class="text-orange-500">2%</span>-<span class="text-orange-500">10%</span>. After attacking, the character's Crit DMG is increased by <span class="text-orange-500">9%</span>-<span class="text-orange-500">21%</span>, lasting until the end of the turn.</p>
</ImageCard>
