---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Heavy Iron Axe.png'
---

<ImageCard image={icon} title="Heavy Iron Axe">
<p>Increases HP by <span class="text-green-500">3</span>-<span class="text-green-500">8%</span>.</p>
</ImageCard>
