---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Heavy Iron Axe.png'
---

<ImageCard image={icon} title="Heavy Iron Axe">
<p>Increases HP by 3-8%.</p>
</ImageCard>
