---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Hollow Axe.png'
---

<ImageCard image={icon} title="Hollow Axe">
<p>Increases DEF by <span class="text-orange-500">5</span>-<span class="text-orange-500">10%</span>. Gains bonus P.ATK equal to <span class="text-orange-500">5</span>-<span class="text-orange-500">10%</span> P.DEF and M.DEF at the start of the battle.</p>
</ImageCard>
