---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Hollow Axe.png'
---

<ImageCard image={icon} title="Hollow Axe">
<p>Increases DEF by 5-10%. Gains bonus P.ATK equal to 5-10% P.DEF and M.DEF at the start of the battle.</p>
</ImageCard>
