---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/axe/Iron Axe.png"
---

<ImageCard image={icon} title="Iron Axe">
<p><strong>N/A</strong></p>
</ImageCard>
