---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Tuning Hammer.png'
---

<ImageCard image={icon} title="Tuning Hammer">
<p>Increases P.ATK by <span class="text-orange-500">5</span>-<span class="text-orange-500">10%</span>. Dispels 1-2 [<span class="text-yellow-500">Buffs</span>] from the target before attacking.</p>
</ImageCard>
