---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/axe/Tuning Hammer.png'
---

<ImageCard image={icon} title="Tuning Hammer">
<p>Increases P.ATK by 5-10%. Dispels 1-2 [Buffs] from the target before attacking.</p>
</ImageCard>
