---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_devil.png'
---

<ImageCard image={icon} title="Temptation of The Devil">
<p>For each <span class="text-orange-500">1</span> character defeated in battle, gains <span class="text-orange-500">1</span> stack of [<span class="text-blue-500">Devil</span>]. The effect lasts until the end of the battle and cannot be dispelled or immunized. [<span class="text-blue-500">Devil</span>] is a buff that increases ATK and DEF by <span class="text-orange-500">3%</span>, up to <span class="text-orange-500">30%</span>.</p>
<h5>Exclusive effect</h5>
<p>Changes the effect of [Tarot Whisper Skill] into: For each <span class="text-orange-500">1</span> character defeated in battle, gains <span class="text-orange-500">2</span> stacks of [<span class="text-blue-500">Devil</span>]. The effect lasts until the end of the battle and cannot be dispelled or immunized.</p>
</ImageCard>
