---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_emperor.png'
---

<ImageCard image={icon} title="Majesty of the Emperor">
<p>DMG increases by <span class="text-orange-500">10%</span> when attacking [<span class="text-yellow-500">Healthy</span>] enemies.</p>
<h5>Exclusive effect</h5>
<p>DMG dealt increases by <span class="text-orange-500">15%</span> additionally when attacking [<span class="text-yellow-500">Healthy</span>] enemies.</p>
</ImageCard>
