---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_empress.png'
---

<ImageCard image={icon} title="Elegance of the Empress">
<p>After casting a skill on an ally, convert <span class="text-orange-500">1</span> [debuff] on the target into [<span class="text-yellow-500">Level 1 Buff</span>] that lasts for <span class="text-orange-500">2</span> turns.</p>
<h5>Exclusive effect</h5>
<p>After casting a skill on an ally, additionally convert <span class="text-orange-500">1</span> [debuff] on the target into [<span class="text-yellow-500">Level 1 Buff</span>]  that lasts for <span class="text-orange-500">2</span> turns.</p>
</ImageCard>
