---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_hermit.png'
---

<ImageCard image={icon} title="Silence of The Hermit">
<p>Decreases DMG taken by <span class="text-orange-500">10%</span>.</p>
<h5>Exclusive effect</h5>
<p>Decreases DMG taken by <span class="text-orange-500">10%</span> additionally.</p>
</ImageCard>
