---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_hermit.png'
---

<ImageCard image={icon} title="Verdict of Justice">
<p>Increases crit rate by <span class="text-orange-500">15%</span>.</p>
<h5>Exclusive effect</h5>
<p>Increases Crit DMG by <span class="text-orange-500">15%</span>.</p>
</ImageCard>
