---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_strength.png'
---

<ImageCard image={icon} title="Source of Strength">
<p>When attacked by a character of [the character's Counter Role], DMG taken is decreased by <span class="text-orange-500">10%</span>. When attacking a character of [the character's Counter Role], ignores <span class="text-orange-500">15%</span> of the target's DEF.</p>
<h5>Exclusive effect</h5>
<p>When attacked by a character of [the character's Counter Role], DMG taken is additionally decreased by <span class="text-orange-500">10%</span>. When attacking a character of [the character's Counter Role], additionally ignores <span class="text-orange-500">20%</span> of the target's DEF.</p>
</ImageCard>
