---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_sun.png'
---

<ImageCard image={icon} title="Rays of the Sun">
<p>When attacking [<span class="text-yellow-500">Injured</span>] enemies, ignore <span class="text-orange-500">20%</span> of their DEF.</p>
<h5>Exclusive effect</h5>
<p>When attacking [<span class="text-yellow-500">Injured</span>] enemies, additionally ignore <span class="text-orange-500">20%</span> of their DEF.</p>
</ImageCard>
