---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_temperance.png'
---

<ImageCard image={icon} title="Desire for Temperance">
<p>At the start of the battle, gains a [physical shield] equal to <span class="text-orange-500">25%</span> of the character's P.ATK plus it's M.ATK. The shield cannot be dispelled.</p>
<h5>Exclusive effect</h5>
<p>Decreases DMG taken by <span class="text-orange-500">15%</span> when the character has a [shield].</p>
</ImageCard>
