---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_tower.png'
---

<ImageCard image={icon} title="Destruction of The Tower">
<p>When it's not the character's turn, DMG dealt increases by <span class="text-orange-500">20%</span>.</p>
<h5>Exclusive effect</h5>
<p>While it's not the character's turn, gains <span class="text-green-500">40%</span> [<span class="text-yellow-500">Life Steal</span>] when dealing DMG.</p>
</ImageCard>
