---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/tarot_whispers/tarot_world.png'
---

<ImageCard image={icon} title="Guidance of the World">
<p>Recovers <span class="text-green-500">1</span> NRG additionally when not using any active skills and [<span class="text-yellow-500">Standby</span>].</p>
<h5>Exclusive effect</h5>
<p>Reduces the CD of all active skills by <span class="text-orange-500">1</span> turn when not using any active skills and [<span class="text-yellow-500">Standby</span>].</p>
</ImageCard>
