---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Beheading Machete.png'
---

<ImageCard image={icon} title="Beheading Machete">
<p>When attacking from [Highland], ATK increases by 6-15%.</p>
</ImageCard>
