---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Beheading Machete.png'
---

<ImageCard image={icon} title="Beheading Machete">
<p>When attacking from [<span class="text-yellow-500">Highland</span>], ATK increases by <span class="text-orange-500">6</span>-<span class="text-orange-500">15%</span>.</p>
</ImageCard>
