---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Ceremonial Knife.png'
---

<ImageCard image={icon} title="Ceremonial Knife">
<p>When launching a [<span class="text-yellow-500">Back Attack</span>], Crit increases by <span class="text-orange-500">12</span>-<span class="text-orange-500">20%</span>.</p>
</ImageCard>
