---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Ceremonial Knife.png'
---

<ImageCard image={icon} title="Ceremonial Knife">
<p>When launching a [Back Attack], Crit increases by 12-20%.</p>
</ImageCard>
