---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Cornucopia Dagger.png'
---

<ImageCard image={icon} title="Cornucopia Dagger">
<p>At the start of the turn, if the character is [<span class="text-yellow-500">Healthy</span>], there is a <span class="text-orange-500">40</span>-<span class="text-orange-500">80%</span> chance to recover <span class="text-green-500">2</span> Energy. If the character is [<span class="text-yellow-500">Dying</span>], there is a <span class="text-orange-500">40</span>-<span class="text-orange-500">80%</span> chance to recover <span class="text-green-500">30%</span> HP. CD: <span class="text-orange-500">3</span>-<span class="text-orange-500">2</span> turns.</p>
</ImageCard>
