---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Cornucopia Dagger.png'
---

<ImageCard image={icon} title="Cornucopia Dagger">
<p>At the start of the turn, if the character is [Healthy], there is a 40-80% chance to recover 2 Energy. If the character is [Dying], there is a 40-80% chance to recover 30% HP. CD: 3-2 turns.</p>
</ImageCard>
