---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Dawnmoon.png'
---

<ImageCard image={icon} title="Dawnmoon">
<p>Increases DEF by <span class="text-orange-500">10</span>-<span class="text-orange-500">30%</span>. When casting a single-target [class support skill], both the character and the target simultaneously gain [<span class="text-blue-500">Dawnmoon Glow</span>]. Can be triggered up to <span class="text-orange-500">1</span> time per battle. When healing a target with [<span class="text-blue-500">Dawnmoon Glow</span>], the target receives <span class="text-orange-500">1</span> random [<span class="text-yellow-500">Level 1 Buff</span>]-[<span class="text-yellow-500">Level 2 Buff</span>] for <span class="text-orange-500">2</span> turns. For each target, this effect can be triggered up to <span class="text-orange-500">1</span> time per round.</p>
</ImageCard>
