---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Dueling Dagger.png'
---

<ImageCard image={icon} title="Dueling Dagger">
<p>When attacked from [<span class="text-yellow-500">front or side</span>], P.DEF increases by <span class="text-orange-500">5</span>-<span class="text-orange-500">25%</span>.</p>
</ImageCard>
