---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Glittering Sword.png'
---

<ImageCard image={icon} title="Glittering Sword">
<p>Increases P.ATK by 2-6%.</p>
</ImageCard>
