---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/sword/Guardian's Will.png"
---

<ImageCard image={icon} title="Guardian's Will">
<p>Increases HP by 5-10%. When having [Shield], increases DEF by 20-40%, and decreases DMG taken by 0-10%.</p>
</ImageCard>
