---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/sword/Guardian's Will.png"
---

<ImageCard image={icon} title="Guardian's Will">
<p>Increases HP by <span class="text-orange-500">5</span>-<span class="text-orange-500">10%</span>. When having [<span class="text-yellow-500">Shield</span>], increases DEF by <span class="text-orange-500">20</span>-<span class="text-orange-500">40%</span>, and decreases DMG taken by <span class="text-orange-500">0</span>-<span class="text-orange-500">10%</span>.</p>
</ImageCard>
