---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/sword/Iron Sword.png"
---

<ImageCard image={icon} title="Iron Sword">
<p><strong>N/A</strong></p>
</ImageCard>
