---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Newborn Blade.png'
---

<ImageCard image={icon} title="Newborn Blade">
<p>Increases HP by <span class="text-orange-500">5</span>-<span class="text-orange-500">10%</span>. Grants bonus P.ATK equal to <span class="text-orange-500">3</span>-<span class="text-orange-500">6%</span> HP at the start of the battle.</p>
</ImageCard>
