---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Newborn Blade.png'
---

<ImageCard image={icon} title="Newborn Blade">
<p>Increases HP by 5-10%. Grants bonus P.ATK equal to 3-6% HP at the start of the battle.</p>
</ImageCard>
