---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Precision-forged Dagger.png'
---

<ImageCard image={icon} title="Precision-forged Dagger">
<p>When actively attacking enemies with [▼Move], P.ATK increases by 3-15%.</p>
</ImageCard>
