---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Precision-forged Dagger.png'
---

<ImageCard image={icon} title="Precision-forged Dagger">
<p>When actively attacking enemies with [<span class="text-red-500">▽</span> <span class="text-yellow-500">Move</span>], P.ATK increases by <span class="text-orange-500">3</span>-<span class="text-orange-500">15%</span>.</p>
</ImageCard>
