---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Senator Swift Sword.png'
---

<ImageCard image={icon} title="Senator Swift Sword">
<p>Increases HP by <span class="text-orange-500">3</span>-<span class="text-orange-500">15%</span>. After dealing DMG with single-target attacks, inflicts [<span class="text-red-500">▽</span> <span class="text-yellow-500">Move I</span>] on the target for <span class="text-orange-500">1</span> turn.</p>
</ImageCard>
