---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Senator Swift Sword.png'
---

<ImageCard image={icon} title="Senator Swift Sword">
<p>Increases HP by 3-15%. After dealing DMG with single-target attacks, inflicts [▼Move I] on the target for 1 turn.</p>
</ImageCard>
