---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Void Stab.png'
---

<ImageCard image={icon} title="Void Stab">
<p>Increases Crit by 3-15%. After using the skill, gains 1 stack of [Void]. Effect: Increases Crit DMG by 5% and can stack up to 6 times. The effect lasts until the end of the next 1-2 turn.</p>
</ImageCard>
