---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/sword/Void Stab.png'
---

<ImageCard image={icon} title="Void Stab">
<p>Increases Crit by <span class="text-orange-500">3</span>-<span class="text-orange-500">15%</span>. After using the skill, gains <span class="text-orange-500">1</span> stack of [<span class="text-yellow-500">Void</span>]. Effect: Increases Crit DMG by <span class="text-orange-500">5%</span> and can stack up to <span class="text-orange-500">6</span> times. The effect lasts until the end of the next <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> turn.</p>
</ImageCard>
