---
const props = Astro.props;

import { Image } from 'astro:assets';
import HorizontalCard from '../HorizontalCard.astro';
import tarot_hermit from '../../assets/tarot_whispers/tarot_hermit.png'
---

<HorizontalCard>
    <Image src={tarot_hermit} alt="Silence of The Hermit" class="object-contain" />
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5>Silence of The Hermit</h5>
        <p>Decreases DMG taken by <span class="text-orange-500">10%</span>.</p>
        <p>Exclusive effect: Decreases DMG taken by <span class="text-orange-500">20%</span> instead of <span class="text-orange-500">10%</span>.></p>
    </div>
</HorizontalCard>
