---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Accurate Bow.png'
---

<ImageCard image={icon} title="Accurate Bow">
<p>Increases Crit by 4-12%.</p>
</ImageCard>
