---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Exquisite Wood Bow.png'
---

<ImageCard image={icon} title="Exquisite Wood Bow">
<p><strong>N/A</strong></p>
</ImageCard>
