---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Hunting Bow.png'
---

<ImageCard image={icon} title="Hunting Bow">
<p>After dealing DMG, there is a <span class="text-orange-500">25</span>-<span class="text-orange-500">50%</span> chance to inflict [<span class="text-red-500">▽</span> <span class="text-yellow-500">Move I</span>] on the target for <span class="text-orange-500">1</span> turn.</p>
</ImageCard>
