---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Hunting Bow.png'
---

<ImageCard image={icon} title="Hunting Bow">
<p>After dealing DMG, there is a 25-50% chance to inflict [▼Move I] on the target for 1 turn.</p>
</ImageCard>
