---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Irian Combat Bow.png'
---

<ImageCard image={icon} title="Irian Combat Bow">
<p>Increases P.ATK by 1-5%. Deals 10-20% more DMG when not in the character's turn.</p>
</ImageCard>
