---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Irian Combat Bow.png'
---

<ImageCard image={icon} title="Irian Combat Bow">
<p>Increases P.ATK by <span class="text-orange-500">1</span>-<span class="text-orange-500">5%</span>. Deals <span class="text-orange-500">10</span>-<span class="text-orange-500">20%</span> more DMG when not in the character's turn.</p>
</ImageCard>
