---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Longbow of Martyrs.png'
---

<ImageCard image={icon} title="Longbow of Martyrs">
<p>Increases P.ATK by 2-10%. After Single-target Active Attack deals DMG, inflicts [Longbow of Martyrs] for 1 turn.</p>
</ImageCard>
