---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Melee Mega Crossbow.png'
---

<ImageCard image={icon} title="Melee Mega Crossbow">
<p>Minimum Range -<span class="text-orange-500">1</span>, increases DMG dealt by <span class="text-orange-500">16</span>-<span class="text-orange-500">32%</span>. For each <span class="text-orange-500">1</span> additional tile away from the target (Distance for Adjacent Tiles counts as 0), DMG dealt decreases by <span class="text-orange-500">8</span>-<span class="text-orange-500">5%</span>, up to a reduction of <span class="text-orange-500">32</span>-<span class="text-orange-500">20%</span>.</p>
</ImageCard>
