---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Melee Mega Crossbow.png'
---

<ImageCard image={icon} title="Melee Mega Crossbow">
<p>Minimum Range -1, increases DMG dealt by 16-32%. For each 1 additional tile away from the target (Distance for Adjacent Tiles counts as 0), DMG dealt decreases by 8-5%, up to a reduction of 32-20%.</p>
</ImageCard>
