---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Meteor Line.png'
---

<ImageCard image={icon} title="Meteor Line">
<p>Increases P.ATK by <span class="text-orange-500">1</span>-<span class="text-orange-500">5%</span>. After dealing DMG with single-target attacks, inflicts <span class="text-orange-500">1</span>-<span class="text-orange-500">2</span> random [<span class="text-yellow-500">Level 1 Debuff</span>] for <span class="text-orange-500">2</span> turns.</p>
</ImageCard>
