---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Meteor Line.png'
---

<ImageCard image={icon} title="Meteor Line">
<p>Increases P.ATK by 1-5%. After dealing DMG with single-target attacks, inflicts 1-2 random [Level 1 Debuff] for 2 turns.</p>
</ImageCard>
