---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Star-Raid Crossbow.png'
---

<ImageCard image={icon} title="Star-Raid Crossbow">
<p>Increases Crit by <span class="text-orange-500">6</span>-<span class="text-orange-500">15%</span>. If a Single-target Active Attack deals Crit DMG, there is a <span class="text-orange-500">50</span>-<span class="text-orange-500">100%</span> chance to additionally deal <span class="text-orange-500">20%</span> P.ATK as [<span class="text-yellow-500">Piercing DMG</span>] to the target.</p>
</ImageCard>
