---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Star-Raid Crossbow.png'
---

<ImageCard image={icon} title="Star-Raid Crossbow">
<p>Increases Crit by 6-15%. If a Single-target Active Attack deals Crit DMG, there is a 50-100% chance to additionally deal 20% P.ATK as [Piercing DMG] to the target.</p>
</ImageCard>
