---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Steel Crossbow.png'
---

<ImageCard image={icon} title="Steel Crossbow">
<p>Attacks ignore <span class="text-orange-500">12</span>-<span class="text-orange-500">25%</span> of the target's DEF.</p>
</ImageCard>
