---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Steel Crossbow.png'
---

<ImageCard image={icon} title="Steel Crossbow">
<p>Attacks ignore 12-25% of the target's DEF.</p>
</ImageCard>
