---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Vlderian Longbow.png'
---

<ImageCard image={icon} title="Vlderian Longbow">
<p>Before a single-target attack, if the distance to the target is <span class="text-orange-500">4</span> tiles or more, Crit increases by <span class="text-orange-500">5</span>-<span class="text-orange-500">25%</span>.</p>
</ImageCard>
