---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Vlderian Longbow.png'
---

<ImageCard image={icon} title="Vlderian Longbow">
<p>Before a single-target attack, if the distance to the target is 4 tiles or more, Crit increases by 5-25%.</p>
</ImageCard>
