---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Whale Hunter.png'
---

<ImageCard image={icon} title="Whale Hunter">
<p>After dealing DMG with single-target active attacks, gains a <span class="text-orange-500">50</span>-<span class="text-orange-500">100%</span> chance to inflict [<span class="text-yellow-500">Infection</span>] on the target, which can be triggered up to <span class="text-orange-500">1</span> time per round. Deals <span class="text-orange-500">20%</span> more DMG to the enemies with [<span class="text-yellow-500">Infection</span>].</p>
</ImageCard>
