---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from '../../../assets/inventory/bow/Whale Hunter.png'
---

<ImageCard image={icon} title="Whale Hunter">
<p>After dealing DMG with single-target active attacks, gains a 50-100% chance to inflict [Infection] on the target, which can be triggered up to 1 time per round. Deals 20% more DMG to the enemies with [Infection].</p>
</ImageCard>
