---
const props = Astro.props;

import ImageCard from '../../ImageCard.astro';
import icon from "../../../assets/inventory/bow/Wood Bow.png"
---

<ImageCard image={icon} title="Wood Bow">
<p><strong>N/A</strong></p>
</ImageCard>
